.overall {
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-radius: 2px;
    background-color: rgba(138, 138, 138, 0.545);
}

.flightsearch {
    margin: 2%;
    
    
}

.overall header {
    padding: 1% 2%;
    background-color: #424242;
    border-radius: 2px;
}




.line1, .line2, .line3 {
    display:flex;
    margin: 1% 0;
    padding-right: 5%;
    
}




.input1 {
    display: flex;
    flex-direction: column;
    padding-right: 30%;
}
.input2{
    display: flex;
    flex-direction: column;
}
.input3 {
    display: flex;
    flex-direction: column;
    padding-right: 30%;
}

.input1 input {
    border: 0px;
    border-radius: 2px;
    margin:2% 0;
    width: 250%;
    height: 1.2rem;
}
.input2 input{
    border: 0px;
    border-radius: 2px;
    margin:0.3% 0;
    height:1.2rem;
    width: 41.3%;
}

.input3 input {
    border: 0px;
    border-radius: 2px;
    margin:2% 0;
    width: 250%;
    height: 1.2rem;
}

.overall button {
    margin: 2% 0
}