
.overall {
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-radius: 2px;
    background-color: rgba(138, 138, 138, 0.545);
}

.overall input {
    background-color: rgba(0, 0, 0, 0.388);
    color: white;
    font-size: 11px;

}



.datePicker input{
    font-style: italic;
   
}

.timepicker input {
    font-style: italic;
  
}

.flightsearch {
    margin: 2%;
    
    
}

.overall header {
    padding: 1% 2%;
    background-color: #424242;
    border-radius: 2px;
}

.overall label {
    overflow: hidden;
    white-space: nowrap;
}


.line1, .line2, .line3, .line4 {
    display:flex;
    flex-direction: row;
    margin: 1% 0;
    padding-right: 5%;
    
}

.line4 {
    display: flex;
    flex-direction: column;
}





.input1 {
    display: flex;
    flex-direction: column;
    padding-right: 30%;
}

.input3 {
    display: flex;
    flex-direction: column;
    padding-right: 30%;
}


.input1 input {
    border: 0px;
    border-radius: 2px;
    margin:2% 0;
    width: 100%;
    height: 1.2rem;
    padding: 0 5%;
}

.input3 input {
    border: 0px;
    border-radius: 2px;
    margin:2% 0;
    width: 100%;
    height: 1.2rem;
    padding: 0 5%;
}

.line4 input {
    border: 0px;
    border-radius: 2px;
    height: 1.2rem;
    padding: 0 1%;
}

.label {
    margin-bottom: 0.3%;
}





.overall button {
    margin: 1% 0
}

@media screen and (max-width: 600px) {
    .line1, .line2, .line3, .line4 {
        display:flex;
        flex-direction: column;
        margin: 1% 0;
        padding-right: 5%;
        
    }
    .line4 input {
        border: 0px;
        border-radius: 2px;
        width:70%;
        height: 1.2rem;
    }

    .label {
        margin-bottom: 1%;
    }
    
}