.login{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    margin: 2% 0 0 0;
}


.login h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 5% 0 0 0;

}

.login select {
  border: 0;
  width: 15%;
  margin: 5% 5% 0 0;
  margin-left: auto; 
  color: rgba(0, 0, 0, 0.497);
  font-size: 0.7rem;
}


.login input {
  padding: 5%;
  font: inherit;
  height: 1px;
  width: 170%;
  border: 1px solid #ccc;
  margin: 5%;
}

.login input:focus {
  outline: none;
  border-color: #00475f;

}

.forgotpassword {
  margin: 0 5% 0 0;
  margin-left: auto;
}

.login button {
  color: white;
  background-color: rgb(10, 108, 147);
  border: 0px;
  border-radius: 2px;
  width: 90%;
  margin: 10% 0;
  padding: 2%;
  box-shadow: black 1px;
}

.signup {
  display: inline-flex;
  flex-direction: row;
  font-size: 0.7rem;
  white-space: nowrap;
  
}


/* .login.invalid input {
  border-color: red;
  background: #fbdada;
} */

.actions {
  text-align: center;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: smaller;
}
:-moz-placeholder {
  font-style: italic;
  font-size: smaller;  
}
::-moz-placeholder {
  font-style: italic;
  font-size: smaller;  
}
:-ms-input-placeholder {  
  font-style: italic;
  font-size: smaller; 
}

/* @media (max-width: 468px) {
  ::-webkit-input-placeholder {
    font-size:
  }


} */

/* @media (max-width: 768px) {
  .login{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;

}

} */